@import url("../../.cache/wal/colors-waybar.css");

/* =============
 * global
 * ============= */

* {
    border: none;
    border-radius: 0;
    font-family: "JetBrainsMono Nerd Font";
    font-weight: bold;
    font-size: 13px;
    min-height: 0;
}

window#waybar {
    background: @background;
    border-radius: 12px;
    margin: 8px 8px 0 8px;
    color: @foreground;
}

/* =============
 * workspaces
 * ============= */

#workspaces {
    margin: 0 10px;
}

#workspaces button {
    color: @color2;
    box-shadow: none;
    text-shadow: none;
    padding: 0px;
    border-radius: 9px;
    padding-left: 4px;
    padding-right: 4px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.5s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button.active {
    color: @foreground;
    border-radius: 15px 15px 15px 15px;
    padding-left: 8px;
    padding-right: 8px;
    animation: gradient_f 20s ease-in infinite;
    transition: all 0.3s cubic-bezier(.55, -0.68, .48, 1.682);
}

#workspaces button.urgent {
    color: @color1;
}

#workspaces button:hover {
    color: @foreground;
    background: transparent;
}

/* =============
 * modules
 * ============= */

#cpu,
#memory,
#disk,
#battery,
#network,
#bluetooth,
#custom-weather,
#language,
#clock,
#tray,
#custom-updates {
    padding: 0 12px;
    background: transparent;
}

#cpu {
    color: @color2;
}

#memory {
    color: @color4;
}

#network {
    color: @color6;
}

#clock {
    color: @foreground;
}

#window {
    margin: 0 40px;
    font-weight: normal;
}

/* =============
 * tooltip
 * ============= */

tooltip {
    background: @background;
    border: 1px solid @color8;
    border-radius: 8px;
}
